<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Exercices/coda-bph-j7/routing-apache/index.php?path=$1 [NC,L,QSA]
</IfModule>